.question {
  width: 50%;
  align-self: flex-start;
  margin: 1em 2.5em;
  padding: 2%;
  background-color: #80808047;
  border-radius: 10px;
  animation: fadeInLeft 3s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.question:nth-of-type(odd) {
  align-self: flex-end;
  animation: fadeInRight 3s;
}

.question > .topic {
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Roboto Condensed';
  margin-bottom: 0.3em;
  font-style: italic;
}
